@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

@custom-variant hover (&:hover);

@theme {
  --animate-blink: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
