---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/layout/Header.astro";
import Devfetch from "@/components/Devfetch.astro";
import Prompt from "@/components/Prompt.astro";
---

<Layout>
  <Header />
  <main>
    <Devfetch />
  </main>
  <Prompt />
</Layout>
