---
import Typewritter from "./Typewritter.astro";

const { text } = Astro.props;
---

<aside class="flex items-center font-mono text-sm">
  <span class="text-primary mr-2">❯</span>
  <Typewritter text={text} speed={50} cursor={true} />
</aside>
