---
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Astro Basics</title>
  </head>
  <body class="bg-base-300 min-h-dvh">
    <div class="wrapper relative flex flex-col bg-base-300 w-full p-4 pl-8">
      <slot />
    </div>
  </body>
</html>

<style>
  .wrapper:before {
    content: " ";
    display: block;
    border: 1px solid var(--color-base-content);
    opacity: 0.5;
    height: calc(100% - 4.4rem);
    border-right: none;
    width: 0.75rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    position: absolute;
    left: 1rem;
    top: 2.75rem;
  }
</style>
