---
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Astro Basics</title>
  </head>
  <body class="bg-base-300 min-h-dvh">
    <div class="terminal-container relative flex flex-col max-h-dvh">
      <slot />
    </div>
  </body>

  <style>
    .terminal-container:before {
      content: " ";
      display: block;
      border: 1px solid var(--color-base-content);
      opacity: 0.5;
      height: calc(100% - 2.9rem);
      border-right: none;
      width: 0.75rem;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      position: absolute;
      left: 1rem;
      top: 1.75rem;
      z-index: 100;
    }
  </style>
</html>
