<div
  class="mockup-browser border-base-300 border w-full max-w-5xl aspect-4/3 flex flex-col shadow-lg"
>
  <div class="mockup-browser-toolbar items-center">
    <div class="flex-1">
      <p class="text-sm text-base-content/70 text-center font-mono">
        Terminal portfolio - <span class="text-xs">v0.1.0</span>
      </p>
    </div>
  </div>
  <div class="mockup-code rounded-none flex flex-col gap-4 flex-1 px-4 py-8">
    <slot />
  </div>
</div>

<style>
  .mockup-code:before {
    display: none;
  }
</style>
